@model TesteCrud.Models.Imovel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Imovel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoNegocio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoNegocio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorImovel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorImovel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImovelAtivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImovelAtivo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
